body{
    font-size: 'Comic Sans MS';
}
.site-heading-lower{
    font-size: 'Comic Sans MS';
}
.mb-3{
    font-size: 'Comic Sans MS';
}
a{
    font-size: 'Comic Sans MS';
}
#mainNav {
    background-color: rgba(0, 100, 0, 0.711);
}